/* Titre */

h1 {
    font-size: 4em !important;
    color: whitesmoke !important;
    padding-left: 25px;
}

.signature {
    color: darkgrey;
}


/* Barre de navigation */

.navigationbar {
    position: fixed;
    width: 100%;
    background-color: #337ab7;
    z-index: 999;
}


/* Onglet */

.nav-pills>li.active a {
    background-color: whitesmoke !important;
    color: #337ab7 !important;
}

a {
    color: whitesmoke !important;
}

a:hover {
    color: #337ab7 !important;
    background-color: whitesmoke !important;
}

.admin {
    padding-left: 25px;
}


/* Bannière */

.bannerImage {
    min-height: 800px;
    background-image: url('ChilkootLakePano.jpg');
    background-size: cover;
    background-position: center;
}


/* Corps */

section {
    text-align: justify !important;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    text-align: justify !important;
}


/* Date publication */

time {
    font-weight: bold;
}


/* Episode */

.col-lg-5,
.col-lg-6 {
    background-color: #bbdefb !important;
    border-style: solid;
    border-color: white;
    border-width: 20px;
}

.episode {
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}


/* Partie Commentaire Blog */

.banComment {
    color: whitesmoke;
    background-color: #337ab7;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 3px;
}

.commentForm {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 50px;
}

.blockquoteBorder {
    border: 1px solid black;
    background-color: #e3f2fd;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 150px;
}

.blockquoteCite1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
}

.comment1 {
    border-left: 5px solid #01579b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
}

.publish {
    font-style: italic;
}

.buttonUp {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1500px;
    padding-right: 200px;
}


/* Formulaire de contact */

textarea.form-control {
    width: 50%;
}

.btn-default {
    color: whitesmoke !important;
    background-color: #7cb342 !important;
    border-color: #33691e !important;
}


/* Identification */

.login1 {
    color: whitesmoke;
    background-color: #337ab7 !important;
    display: inline-block;
    padding: 50px;
    margin-top: 50px;
}

.login2 {
    color: black;
}

.connect,
.log,
.password {
    color: black !important;
}


/* Formulaire Page Admin sur la même ligne*/

form {
    display: inline;
}


/* Footer */

footer {
    background-color: #337ab7;
    height: 150px;
    margin-top: 2750px;
    padding-left: 50px;
}
